/*COMPOSITION*/
/*heeft alles al te maken met ruimte en layout*/
/*we beginnen met ruimte (layout is voor een volgende les*/

head {
    padding: 10px;
    margin: 5px;
}
p {
    text-shadow: -1px 0 #000000;
    padding: 10px;
    margin: 5px;
}
h2 {
    text-shadow: -2px 0 #000000;
    padding: 10px;
    margin: 5px;
}
h3 {
    text-shadow: -2px 0 #000000;
    padding: 10px;
    margin: 10px;
}
main {
    padding: 10px;
    margin: 10px;
}
:root {
    background-color: #0070F1;
    color: #FFFFFF;
}

footer {
    padding: 10px;
    margin: 10px;
}
a:hover {
color: #FFFFFF;
}
a:link {
    text-decoration-line: none;
}
img {
    width: 20%;
    height: auto;
    border-style: double;
    border-color: #000000;
}
li  {
    padding: 0px;
    margin: 2px;
}