header {
    background-color: #FF0000;
}

a {
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
}

body{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}


h2{
    margin: 0;
}

main>*{
    margin:  0.8rem;
    border: .25rem solid black;
    border-top: 0;
    border-bottom: 0;
    padding: 0.6rem;
    margin-top: 0;
    margin-bottom: 0;
}